/*
------------------------------------------------------------------------------------------------------------------------
                                            Mise en forme du body
*/

body{
    margin : 0;
    font-weight: bold;
}

.row{
    margin:0;
    padding: 15px;
}

.contenu {
    min-height: 530px;
}

/*
------------------------------------------------------------------------------------------------------------------------
                                            Mise en forme du top de la page
                                            (Bannière + barre de nav)
*/

/* Bannière : */
img.banner{
    width: 100%;
}


/* Barre de nav : */
div.top{
    background-color: #17a2b8;
    height: 50px;
}

nav.nav{
    font-size: 20px;
    font-weight: bold;
}

.titreMenu {
    height: 50px;
}

.boutonMenu {
    display:block;
    float: left;
    height: 50px;
    background-color: #17a2b8;
    padding: 10px;
    padding-top: auto;
    text-align: center;
    vertical-align:middle;
    z-index:7;
    overflow: hidden;  /*important*/
    color:white;
    border-radius: 0.25rem;
}
.boutonMenu:hover {
    height: auto;
    cursor: pointer;
    background-color: white;
    padding:9px;
    color:#17a2b8;
    border:1px solid #17a2b8;
    border-radius: 0 0 0.25rem 0.25rem;
}

.SousMenu {
    display: block;
    padding:15px;
    border: 1px solid white;
    background-color: #17a2b8;
    z-index:8;
    color:white;
    vertical-align:middle;
    text-decoration:none;
    font-size: 15px;
    border-radius: 0.25rem;
}
.SousMenu:hover {
    background:white;
    text-decoration:none;
    color:#17a2b8;
    border: 1px solid #17a2b8;
    border-radius: 0.25rem;
}



/*
------------------------------------------------------------------------------------------------------------------------
                                            Mise en forme des éléments de la page d'accueil
*/

/* Index */
.title-index{
    text-align: center;
    padding: 35px;
    font-size: 30px;
    font-weight: bold;
    background-color: #6c757d;
    color: white;
    border: solid 5px #17a2b8;
    width: 100%;
    border-radius: 0.25rem ;
    margin-left: auto;
    margin-right: auto;
}

.formulaires{
    display:block;
    float: left;
    text-align: center;
    padding-top: 25px;
}

h4{
    padding: 30px;
    margin-bottom: 20px;
}

/*
------------------------------------------------------------------------------------------------------------------------
                                            Mise en forme des éléments du contenu
*/
.alert{
    text-align: center;
}

alert-danger{
    text-align: center;
}

.title{
    text-align: center;
    padding: 35px;
    margin-top: 20px;
    font-size: 30px;
    font-weight: bold;
    background-color: #6c757d;
    color: white;
    border: solid 5px #17a2b8;
    border-radius: 0.25rem ;
    margin-left: auto;
    margin-right: auto;
}

.title-2{
    text-align: center;
    padding: 15px;
    margin-bottom: 20px;
    font-size: 15px;
    font-weight: bold;
    background-color: #17a2b8;
    color: black;
    border: solid 5px #6c757d;
    border-radius: 0.25rem ;
    margin-left: auto;
    margin-right: auto;
}

.btn{
    font-weight: bold;
}

.btn-primary{
    color : white;
    background-color: #17a2b8;
    border-color: #17a2b8;
}

.btn-primary:hover {
    color: #17a2b8;
    background-color: white;
    border-color: #17a2b8;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
    color: #17a2b8;
    background-color: white;
    border-color: #17a2b8;
}

.confirmSuppr{
    text-align: center;
    padding: 15px;
    background-color: #f8d7da;
    color: black;
    border: solid 5px #f5c6cb;
    border-radius: 0.25rem ;
    margin-left: auto;
    margin-right: auto;
}

.element-center{
    align-self: center;
    text-align: center;
    width: 100%;
}

.scnd{
    text-align: right;
}

.retard{
    margin: 0;
    color :red;
    font-weight: bold;
}

/*
------------------------------------------------------------------------------------------------------------------------
                                            Mise en forme des formulaires
*/


form{
    padding: 15px;
}


/*
------------------------------------------------------------------------------------------------------------------------
                                            Mise en forme des tableaux
*/

.table-responsive{
    padding:15px;
}

table{
    margin-left: auto;
    margin-right:auto;
    text-align: center;
    border-radius: 0.25rem;
}

.table-head tr{
    color: white;
    background-color: #17a2b8;
    border-radius: 0.25rem;
    border-color: #17a2b8;
}

table a{
    margin:0;
}

.table-bordered{
    border-color: #17a2b8;
}

.table-hover tbody tr:hover {
    background-color: rgba(13, 162, 184, 0.3) ;
}

.table th{
    vertical-align: middle;
    border-color: #6c757d;
}

.table td{
    vertical-align: middle;
    border-color: #17a2b8;
}


/*
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
Mise en forme du Footer */


footer{
    margin-right:0;
    margin-left: 0;
    background-color: #17a2b8;
    color:white;
    padding-top:15px;
    padding-bottom: 15px;
}

a.lien{
    color: white;
    text-decoration: none;
    text-align: center;
}
a.iut{
    border-right: solid 1px #F5F5F5;
    margin-bottom: 15px;
}
a.info{
    border-left: solid 1px #F5F5F5;
    margin-bottom: 15px;
}

div.bot{
    margin: 0;
    padding:15px;
    padding-bottom: 0;
    border-bottom: solid 2px #F5F5F5;
}

span.bulle{
    visibility: hidden;
    width: 240px;
    background-color: #F5F5F5;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -120px;
}
span.bulle::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -11px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #F5F5F5 transparent;
}
a.iut:hover .bulle{
    visibility: visible;
}
a.info:hover .bulle{
    visibility: visible;
}


div.sign{
    margin: 0;
    padding: 15px;
}

p.sign{
    margin:0;
    text-align: center;
}


/* Fin mise en forme Footer
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
*/